*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #eee;
  
   
}

.header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #95a5a6;
    z-index: 1000;
}

.logo{  
 
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

#header-img{
    width: 100%;
   
}

.nav {
  
    width: 30%;
    height: 100%;
}

.nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 100%;
}

.links{
    padding-bottom: 5px;
    text-decoration: none;
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    transition: all .5s;
}

.links:hover{
    border-width: 2px;
    border-bottom: .2px solid orange;
}

.hero{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%,-12%);
  
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    flex-direction: column;
}

.hero form{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 10vh;
}

#email{
    padding: 10px;
    width: 100%;
}

.btn{
    padding: 5px;
    width: 50%;
    background: orange;
    color: #fff;
    font-weight:700;
    letter-spacing: 1px;
    border-radius: 5px;
}

#featuer{
  
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    width: 60%;
    height: 50vh;
    margin-top: 30px;
}

.icon{
 
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.dis h2{
    margin-bottom: 10px;
}

.video{

    width: 40%;
    height: 60vh;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%,-250%);
}
 
.video iframe{
    height: 100%;
}

#pricing{
    position: absolute;
    top: 290%;
    left: 50%;
    transform: translate(-50%,-290%);
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 40vh;
    width: 50%;
}

.pcard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    text-align: center;
    border: .5px solid #95a5a6;
}

.sone{
    height: 15%;
    width: 100%;
    padding-top: 15px;
    background-color: #95a5a6;
}

.pcard div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
    
}

.stow{
    font-weight: 700;
}

.select{
    background-color: orange;
    padding: 8px 30px;
    text-decoration: none;
    transition: .5s;
}
.select:hover{
    transform: scale(1.1);
}

footer{
    height: 15vh;
    width: 50%;
    position: absolute;
    top: 280%;
    left: 50%;
    transform: translate(-50%,-280%);
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #95a5a6;
    
}

footer ul{
    margin-top: 40px;
    list-style: none;
    width: 30% ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #333;
   
}

footer a{
    text-decoration: none;
    color: #333;
}

@media screen and (max-device-width: 768px){
    .logo{
        width: 30%;
    }
    .nav{
        width: 50%;
    }
    .hero{
        margin-top:50px;
        width: 80%;
    }
    #email{
        margin: 10px 0;
    
    }
    #featuer{
        margin-top: 150px;
        width: 100%;
        height: 70vh;
    }
    .video,#pricing,footer{
        margin-top: 50px;
    }

    .video{
        width: 100%;
        height: 50vh;
    }
    #pricing{
        width: 100%;
        height: 50vh;
        margin-top: 500px;
    }
    footer{
        margin-top: 600px;
        height: 30vh;
    }
    footer ul{
        width: 70%;
    }
}

@media screen and (max-device-width: 460px){
    .header{
        position: fixed;
    }
   .line {
        background-color: white;
        width: 30px;
        height: 5px;
        margin: 5px;
   }
   .ham {
       position: absolute;
       top: 20px;
       right: 10px;
       cursor: pointer;
       z-index: 1000;
   }

   .nav-links {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    position: fixed;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path:circle(100px at 90% -10%);
    pointer-events: none;
    transition: all 1s ease-out ;
    background-color: #95a5a6;
   
 }
    .open {
    clip-path: circle(1200px at 90% -10%);
    -webkit-clip-path:circle(1200px at 90% -10%);
    pointer-events: all;
    }

    .nav-links li {
    opacity: 1;

    }
    .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
    }
    .fade {
    opacity: 1;
    }
    .logo{
        width: 50%;
    }
    .hero{
        padding-bottom: 60px ;
    }
    .hero h1{
      text-align: center;
    }
     
    .video{
        width: 100%;
        height: 40vh;
        margin: 0;
        padding: 0;
        margin-top: -40px;
    }
    #pricing{
        width: 80%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-top: 1400px;
        padding: 0 10px; 
    }
    .pcard{
        max-height: 35%;
        margin-bottom:10px;
       
       
    }
    .sone{
        height: 8vh;
    }
    footer{
        margin-top:500px ;
        height: 20vh;
        width: 100%;
    }
}